<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar w/ text</a>

  <div class="collapse navbar-collapse" id="navbarText">
    <div class="navbar-nav mr-auto">
    </div>
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="inscription">Créer un compte</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="connexion">Connexion</a>
        </li>
      </ul>
    </span>
  </div>
