<div class="col-md-6 mt-5">
  <h2>Créer un compte</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="pseudo">Pseudo</label>
      <input type="text" class="form-control" id="pseudo" aria-describedby="emailHelp" formControlName="pseudo">
    </div>
    <div class="form-group">
      <label for="email">Adresse mail</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <button type="submit" class="btn">Créer mon compte</button>
  </form>
  <p class="text-danger">{{ errorMessage }}</p>
</div>
